@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>* {

  font-family: Arial, Helvetica, sans-serif;

  margin: 0;

}

.App {

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;

}



.register {

  max-width: 978px;

  width: 100vw;

  display: flex;

  border: 2px solid hsl(210, 6%, 81%);

  border-radius: 5px;

  /* box-shadow: 1px 3px 10px #e9ecef; */

  background-color: white;

}



#form {

  max-width: 320px;

  width: 100vw;

  margin: 2em auto;

}


/* border of password and name */
#form>input,
.btn {

  border: 1px solid hsl(239, 26%, 53%);

  padding: .9em 1em;

}



#h3 {

  margin-left: "5%";

  padding-top: "5%";

}

#form>input:focus {

  outline: none;

}


/*login button*/
#form>.btn2 {

  background-color: hwb(225 75% 13%);

  color: #2da35e;

  font-size: 1em;

  cursor: pointer;

}



.flex {

  display: flex;

  gap: 1em;

}

.flex-col {

  flex-direction: column;

}

.register .col-1 {

  margin: auto;

  padding: 3em 0;

}



@media screen and (min-width: 860px) {

  .register .col-2 img {

    display: initial;

  }

}


.bg-img {

  /* The image used */

  background-image: url("\Users\sansarwa\trainings\Module3\reactjs\online-shopping-hooks\public\Images\adminlogin final.jpg");


  /* Control the height of the image */

  min-height: 609px;

  /* Center and scale the image nicely */

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  position: relative;
  padding-top: 55px;
  margin-top: 1px;

}

div.b {
  text-align: left;
  padding-top: 50px;
  padding-right: 30px;
  /* padding-bottom: 10px; */
  padding-left: 30px;
  color: #c6cddb;
}

.jumbotron {

  padding: 3rem, 2rem;
  color: #3476b8;
  justify-content: center;

  
  width: 50%;

  margin-left: 26%;

  margin-bottom: 10%;

  

  background-color: rgb(0 0 0 / 26%);
  


}